<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar</title>
</head>

<body>

    <form action="/inserir" method="GET">

        <div>
            <input type="hidden" name="id" id="id" value="{{squad.id}}" />
            <table>
                <tr>
                <td>Nome:</td>
                <td>  
                <input placeholder="Insira o nome do squad:" type="text" name="Nome"  size="20" value="{{squad.Nome}}" />
                </td>
                </tr>

                <tr>
                <td>Descrição:</td>
                        <td>  
                        <input placeholder="Descrição:" type="text" name="Descricao" size="20" value="{{squad.Descricao}}"/>
                        </td>
                        </tr>

                        <tr>
                            <td>Numero de pessoa:</td>
                                <td>  
                                <input placeholder="Numero de pessoas:" type="text" name="NumeroPessoas"  size="20" value="{{squad.NumeroPessoas}}"/>
                                </td>
                                </tr>

                                <tr>
                                    <td>LinguagemBackEnd:</td>
                                    <td>  
                                    <input placeholder="LinguagemBackEnd:" type="text" name="LinguagemBackEnd"  size="20" value="{{squad.LinguagemBackEnd}}"/>
                                    </td>
            
                                        </tr>
                        <td>FromeworkFrontEnd:</td>
                                
                        <td><input placeholder="FrameworkFrontEnd:" type="text" name="FrameworkFrontEnd"  size="20"  value="{{squad.FrameworkFrontEnd}}" /></td>
                                
                        </tr> 
            </table>
            
            <input type="submit" value="Enviar">
            <a href="/cadastrar"><td> Limpar</td></a>
            
        </div>

    </form>
    

    
</body>
</html>