<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar</title>
</head>
<body>
    <h1 style="background-color: black; color: rgb(233, 142, 5); text-align: center;">HBSIS</h1>
 
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Num pessoas</th>
            <th>L_backend</th>
            <th>Fram_frontend</th>
        </tr>


        <tbody>
            {% for s in squad %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
                <td>{{ s[5] }}</td>
                <td>
                    <a href ="/editar?id={{ s[0]}}" class = "editar"> Editar</a>
                    <a href ="/deletar?id={{ s[0]}}" class = "deletar"> Excluir</a>



                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <h1 style=" background-color:rgb(16, 16, 22); color:rgb(240, 243, 33);text-align: center;">PADAWAN</h1>
</body>
</html>